.inventory-spells-list-container{
    /* border: 1px solid black; */
    width: 85%;
    margin: -575px 5% 0 12.5%;
    height: 700px;
    display: flex;
}

.inventory-spells-container{
    border: 1px solid rgb(161, 32, 21);
    width: 25%;
    height: 80%;
    display: inline-block;
    padding: 10px 25px;
    box-sizing: border-box;
    overflow:scroll;
}